@charset "UTF-8";
/* CSS Document */

nav.navbar.navbar-default{
	background:rgba(50,50,50,0.9);
}
.navbar-toggle {
	border:none !important;
}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover{
	color:#F30;
}